/* --- Left Side (Apple Arcade) --- */
.left-side-container {
  background-image: url("../../../assets/images/home/spyder.jpg");
  background-color: #000;
  background-position: bottom;
  padding-top: 35px;
  margin: 0 0 10px 0; /* Mobile margin */
  background-size: cover;
}
.description-wraper {
  max-width: 250px;
  margin: 7px auto;
  font-size: 16px;
  padding: 0;
}
/* Utility for description text color on dark background */
.description-wraper.white {
  color: white;
}
.links-wrapper {
  max-width: 300px;
  margin: 0 auto;
}

/* --- Right Side (Apple Card) --- */
.right-side-container {
  background-image: url("../../../assets/images/home/apple-card-monthly.jpg");
  background-color: #fbfbfd;
  background-position: bottom;
  padding-top: 35px;
  margin: 0 0 10px 0;
  background-size: auto;
}
.right-side-container .title-wraper {
  max-width: 250px;
  margin: 0 auto;
}
.links-wrapper ul li a {
  font-size: 21px;
  padding-top: 0;
}

/* --- Media Query: Tablet/Desktop Spacing --- */

@media (min-width: 768px) {
  .left-side-wrapper .left-side-container {
    margin: 5px 5px 10px 10px;
  }
  .right-side-wrapper .right-side-container {
    margin: 5px 10px 10px 5px;
  }
  .links-wrapper {
    max-width: 500px;
  }
}
