.thirdHightLightWrapper{
  height: 580px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 65px 20px;
  color: #fff;
}
.titleWrapperBold {
    font-weight: 600;
    font-size: 62px;
    line-height: 1.15em;
    letter-spacing: -0.04em;
    color: white
  }
.descriptionWrapper {
    font-size: 26px;
    padding: 10px 0;
  }
  .priceWrapper {
    font-size: 17px;
    padding: 5px 0 10px;
  }
  .linkWrapper {
    padding: 15px 0;
  }
  .linkWrapper ul {
    list-style: none;
  }
  .linkWrapper ul li {
    display: inline-block;
    padding-right: 20px;
  }
  .linkWrapper ul li a {
    color: #06c;
    text-decoration: none;
    font-size: 21px;
  }
  .linkWrapper ul li a:hover {
    color: #000;
  }
  .linkWrapper ul li a:after {
    font-family: "FontAwesome";
    font-weight: 900;
    content: "\f105";
    padding-left: 10px;
  }